body {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

.nav {
    background-color: #ffffff;
    color: #000000;
    list-style: none;
    text-align: right;
    padding: 20px 0 0 0;
}

.nav > li {

    display: inline-block;
    padding-right: 50px;
    font-size: 12px;
}

.nav > li > a {

    text-decoration: none;
    color: #000000;
}

.nav > li > a:hover {
    
    color: #896124;
}

.logo {

    color: #000000;
    float: left;
    padding-left: 25px;
    font-size: 16px;
    font-weight: bold;
    font-family: cursive;
}

.logo > a {

    text-decoration: none;
    color: #000000;
}
.logo > a:hover {

    color: #896124;
}

.banner {

    width: 100%;
    display: block;
}

.banner > .banner-image {

    width: 100%;
    display: block;
}

.aboutme1 {

    width: 298px;
    border: 1px solid #896124;
    margin: 20px 10px;
    padding: 0 5px;
    float: left;

}

.aboutme1 > p {
    font-size: 14px;
    color: #000000;
    max-width: 250px;
}

.aboutme {
    width: 1350px;
    margin: 0 auto;
}

h1 {
    font-size: 16px;
    font-weight: bold;
    background-color: #896124;
    color:#ffffff;
    padding: 10px 0;
    margin: 0 -6px;
}

.image {
    max-width: 200px;
    margin: 15px 0 0 0;
}

.heading {
    text-align: center;
    font-size: 50px;
    color: #6d6d6d;
    margin: 100px 0 50px 0;
}

.image:hover {
    opacity: 0.2;
    max-width: 200px;
    margin-top: 15px;
} 

.contact-section {
    background: url('https://media3.s-nbcnews.com/j/newscms/2019_52/3163571/191223-end-of-decade-black-lives-matter-main-kh_bc951e3d2b80d753a54363af8366d3c1.fit-760w.jpg') no-repeat;
    background-size: cover;
    padding: 40px 0;
}

.contact-section h1{
    text-align: center;
    font-size: 50px;
    margin: 100px 0 50px 0;
}

.border {
    width: 100px;
    height: 10px;
    margin: 40px auto;
}

.contact-form {
    color: #896124;
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text{

    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #ffffff;
    padding: 20px 40px;
    outline: none;
    color: #896124;
    transition: 0.5s;
}

.contact-form-text:focus {
    box-shadow: 0 0 10px 4px #896124;
}

textarea.contact-form-text {
    color: #896124;
    resize: none;
    height: 120px;
}

.contact-form-btn {
    float: right;
    border: 0;
    background: #896124;
    color: #ffffff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover {
    background: #896124;
}



/*#title {
  margin-right: 10px;
  width: 650px;
  float: left;
}

#intro {
    float: left;
}

#greeting-container {
  margin-top: 20px;
}

#images {
    margin-right: auto;
    float: right;
}*/